<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Users</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <table class="user">
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
      </tr>
      <%for(user of data){ %>
      <tr>
        <td><%=user.userId%></td>
        <td><%=user.username%></td>
        <td><%=user.email%></td>
        <td>
          <form
            method="get"
            action="http://localhost:8080/user/<%= user.userId %>/edit"
          >
            <button type="submit">Edit User</button>
          </form>
        </td>
        <td>
          <form
            method="get"
            action="http://localhost:8080/user/<%= user.userId %>/delete"
          >
            <button type="submit">Delete User</button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
